body {
  display: flex;
  justify-content: center;
}

.yside {
  height: 16px;
  width: 16px;
  border: solid 1px;
  color: black;
}

.palette {
  height: 600px;
  width: 80px;
  border: solid 1px;
}

.box {
  width: 80px;
  height: 40px;
}
